<div class="col">
  <div class="card mx-5 mt-5 h-100">
    <img src="/images/funds/{{imageLink}}" alt="{{description}}" width="85%" height="auto" class="card-img-top ">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p>Current contributions ${{contribution.donationAmount}}</p>
      <p>Target $ {{targetVal}}</p>
      <button class="contribute-button" data-attr={{id}} class="btn btn-sm btn-primary mt-2 w-50" data-bs-toggle="modal"
      data-bs-target="#myModal"> Contribute </button>
      <!-- <a href="#" class="btn btn-primary contribute-button" data-attr={{id}}>Contribute</a> -->
    </div>
    <div class="card-footer">
      <!-- <small class="text-muted">Last contribution was {{timeElapsed updatedAt}} ago</small> -->
      <p> {{#if contribution.updatedAt}}
      Last contribution was made {{timeElapsed contribution.updatedAt}} ago</p>
      {{/if}}
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 text-shadow">Thanks for the contribution !</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="mb-3 d-flex flex-column justify-content-center text-center align-items-center">
            <label for="dollar" class="col-form-label fs-5">Donation amount</label>
            <input type="text" class="form-control border border-secondary rounded-pill shadow w-50" id="money">
            <button id="pledge-button" class="btn btn-info mt-2">Pledge</button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>