<section class="mt-5">
  <a href="/category/{{id}}">
    <header>{{name}}</header>
    <img src="/images/funds/{{funds.[0].imageLink}}" alt="{{funds.[0].description}}" width="85%" height="auto">
    <p>{{description}}</p>
  </a>
</section>