<section class="mt-5">
  <header>{{title}}</header>
  <a href="/api/fund/{{id}}">
    <img src="/images/funds/{{imageLink}}" alt="{{description}}" width="85%" height="auto">
  </a>
  <p>Target $ {{targetVal}}</p>
  <p>Current contributions ${{contribution.totalMoney}}</p>
  <p>{{description}}</p>
  <p> Last contribution was {{timeElapsed updatedAt}} ago</p>

</section>