<div class="col">
  <div class="card mx-5 mt-5">
    <img src="/images/funds/{{imageLink}}" alt="{{description}}" width="85%" height="auto" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p>Current contributions ${{contribution.totalMoney}}</p>
      <p>Target $ {{targetVal}}</p>
      <a href="#" class="btn btn-primary contribute-button" data-attr={{id}}>Contribute</a> 
    </div>
    <div class="card-footer">
      <small class="text-muted">Last contribution was {{timeElapsed updatedAt}} ago</small>
    </div>
  </div>
</div>